solution/playbooks/abstract-verdict.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Abstract Security - Verdict (agentic)",
    "description": "Microsoft Sentinel playbook. On incident creation, runs Abstract's ASTRO 'Verdict' agentic workflow for the linked Abstract insight, polls for completion, posts the verdict + confidence + recommended actions back as an incident comment, and raises incident severity to High when the verdict is MALICIOUS. Showcases the closed loop: triage in Sentinel, reason in the Abstract pipeline.",
    "prerequisites": "Abstract API key + vendor account id. The originating analytics rule must surface the Abstract insight id as an incident custom detail named 'AbstractInsightId'. Prefer Key Vault for the key in production.",
    "author": "Abstract Security - Solutions Engineering"
  },
  "parameters": {
    "PlaybookName": { "type": "string", "defaultValue": "Abstract-Verdict" },
    "abstractBaseUrl": { "type": "string", "defaultValue": "https://api.abstractsecurity.app" },
    "abstractVendorAccountId": { "type": "string" },
    "abstractApiKey": { "type": "securestring" }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": { "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]" }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": { "type": "SystemAssigned" },
      "dependsOn": [ "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]" ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "type": "Object" },
            "abstractBaseUrl": { "type": "string" },
            "abstractVendorAccountId": { "type": "string" },
            "abstractApiKey": { "type": "securestring" }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": { "callback_url": "@{listCallbackUrl()}" },
                "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_Abstract_insight_id": {
              "type": "Compose",
              "inputs": "@coalesce(triggerBody()?['object']?['properties']?['additionalData']?['customDetails']?['AbstractInsightId'], '')"
            },
            "Has_insight_id": {
              "runAfter": { "Get_Abstract_insight_id": ["Succeeded"] },
              "type": "If",
              "expression": { "not": { "equals": ["@outputs('Get_Abstract_insight_id')", ""] } },
              "actions": {
                "Start_verdict_workflow": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{parameters('abstractBaseUrl')}/v1/ase/workflows/verdict",
                    "headers": {
                      "Authorization": "Bearer @{parameters('abstractApiKey')}",
                      "x-as-vendor-account-id": "@parameters('abstractVendorAccountId')",
                      "Content-Type": "application/json"
                    },
                    "body": { "insight_id": "@outputs('Get_Abstract_insight_id')" }
                  }
                },
                "Poll_until_complete": {
                  "runAfter": { "Start_verdict_workflow": ["Succeeded"] },
                  "type": "Until",
                  "expression": "@not(equals(coalesce(body('Get_verdict_status')?['status'], 'PROCESSING'), 'PROCESSING'))",
                  "limit": { "count": 30, "timeout": "PT10M" },
                  "actions": {
                    "Delay_10s": { "type": "Wait", "inputs": { "interval": { "count": 10, "unit": "Second" } } },
                    "Get_verdict_status": {
                      "runAfter": { "Delay_10s": ["Succeeded"] },
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "@{parameters('abstractBaseUrl')}/v1/ase/workflows/verdict/@{body('Start_verdict_workflow')?['task_id']}",
                        "headers": {
                          "Authorization": "Bearer @{parameters('abstractApiKey')}",
                          "x-as-vendor-account-id": "@parameters('abstractVendorAccountId')"
                        }
                      }
                    }
                  }
                },
                "Comment_verdict": {
                  "runAfter": { "Poll_until_complete": ["Succeeded"] },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                    "method": "post",
                    "path": "/Incidents/Comment",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<h3>Abstract ASTRO — Verdict</h3><p><b>Verdict:</b> @{coalesce(body('Get_verdict_status')?['verdict'], 'UNKNOWN')} &nbsp; <b>Confidence:</b> @{coalesce(body('Get_verdict_status')?['confidence'], 0)}%</p><p>@{coalesce(body('Get_verdict_status')?['summary'], 'No summary returned.')}</p><p><b>Recommended actions:</b></p><pre>@{string(coalesce(body('Get_verdict_status')?['recommended_actions'], json('[]')))}</pre><p><i>Events analyzed: @{coalesce(body('Get_verdict_status')?['total_events_analyzed'], 0)} · IOCs enriched: @{coalesce(body('Get_verdict_status')?['iocs_enriched'], 0)}</i></p>"
                    }
                  }
                },
                "If_malicious_raise_severity": {
                  "runAfter": { "Comment_verdict": ["Succeeded"] },
                  "type": "If",
                  "expression": { "equals": ["@coalesce(body('Get_verdict_status')?['verdict'], '')", "MALICIOUS"] },
                  "actions": {
                    "Update_incident_severity": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                        "method": "put",
                        "path": "/Incidents",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "severity": "High",
                          "status": "Active"
                        }
                      }
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Comment_no_mapping": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                      "method": "post",
                      "path": "/Incidents/Comment",
                      "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "Abstract Verdict playbook ran, but no <code>AbstractInsightId</code> custom detail was found on this incident. Map it on the originating analytics rule to enable agentic verdicts."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": { "authentication": { "type": "ManagedServiceIdentity" } }
              }
            }
          },
          "abstractBaseUrl": { "value": "[parameters('abstractBaseUrl')]" },
          "abstractVendorAccountId": { "value": "[parameters('abstractVendorAccountId')]" },
          "abstractApiKey": { "value": "[parameters('abstractApiKey')]" }
        }
      }
    }
  ]
}
